.feature-block{
    h2 {
        color:$black;
        font-size: 28px;
        display: block;
        margin: auto;
        text-align: center;
        padding: 150px 75px;
        line-height: 50px;
        @include lt-md {
            padding: 100px 0px;
        }
    }
    .feature-block-item{
        text-align: center;
        color:$white;
        padding: 0 15px 100px 15px;
        display: inline-grid;
        i {
            color:$black;
            font-size: 45px;
            padding: 0 0 20px 0;
        }
    }
}